<html>
<head>
  <title>Compute auction winner with MPC</title>
  <script src="/config.js"></script>

  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/dist/jiff-client.js"></script>
  <script src="/lib/ext/jiff-client-restful.js"></script>

  <!-- Contains UI Handlers and Input Checks -->
  <script type="text/javascript" src="../client.js"></script>

  <!-- Contains Client MPC code -->
  <script type="text/javascript" src="../client-mpc.js"></script>
</head>
<body>
  <p hidden id="email">{{ email }}</p>
  <h1>{{ title }}</h1>
  <h2>{{ description }}</h2>
  <label for="computation_id">Computation ID</label>
  <input id="computation_id" value="test"/><br/><br/>
  <label for="auction_id">Auction ID</label>
  <input id="auction_id" value={{auction_id}}><br/><br/>
  <p>The bid submission deadline is {{ end }}. Please make sure to submit your bid before this time.</p> 
  <br/><br/>
  <hr/>
  <h1>Submit your bid for {{ title }}</h1>
  <label for="number">Input your bid</label><br><br>
  <input id="number" pattern="[0-9]+"><br><br>
  <button onclick="submit();" id="button">Bid</button><br/>
  <div id="output"></div>
</body>
</html>