<html>
<head>
  <title>Compute auction winner with MPC</title>
  <script src="/config.js"></script>

  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/dist/jiff-client.js"></script>
  <script src="/lib/ext/jiff-client-restful.js"></script>

  <!-- Contains UI Handlers and Input Checks -->
  <script type="text/javascript" src="../client.js"></script>

  <!-- Contains Client MPC code -->
  <script type="text/javascript" src="../client-mpc.js"></script>

  <link rel='stylesheet' type='text/css' href='../style.css'>
</head>
<body>
  <br>
  <div id="page-info">
    <p hidden id="email">{{ email }}</p>
    <h1>{{ title }}</h1>
    <h2>{{ description }}</h2>
    <p id="auction_id"><strong>Auction ID:</strong> {{ auction_id }}</p>
    <p>The bid submission deadline is <strong>{{ end }}</strong>. Please make sure to submit your bid before this time.</p> 
    <hr>
    <br>
    <form id="bid-submission-form">
      <label for="number"><strong>Enter your bid:</strong></label>
      $ <input id="number" pattern="[0-9]+"><br><br><br>
      <button onclick="submit();" id="bid-submit-button" class="button">Submit</button><br/>
      <div id="output"></div>
    </form>
  <div>
</body>
</html>