<html>
<head>
  <title>Secure Auction Creation</title>

  <link rel='stylesheet' type='text/css' href='../style.css'>

  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="../administratorController.js"></script>

</head>
<body>
  <div id="page-info">
    <header>
      <h2>Secure Auction Administrator</h2>
    </header>
    <hr>
    <h2>Create a new auction</h2>
    <form action="/create-auction" method="POST" id="create-auction-form" enctype="multipart/form-data">
      <label for="auctionTitle"><strong>Auction title:</strong></label>
      <input type="text" id="auctionTitle" name="auctionTitle">
      <br><br>
      <label for="auctionDescription"><strong>Auction description:</strong></label>
      <textarea type="text" id="auctionDescription" name="auctionDescription" rows="4" cols="50"></textarea>
      <br><br>
      <label for="image"><strong>Upload Image:</strong></label>
      <input type="file" id="image" name="image" accept="image/png, image/jpeg">
      <br><br>
      <label for="auctionRegistrationDeadline"><strong>Bidder registration deadline:</strong></label>
      <input type="datetime-local" id="auctionRegistrationDeadline" name="auctionRegistrationDeadline">
      <br><br>
      <label for="auctionStart"><strong>Auction start time:</strong></label>
      <input type="datetime-local" id="auctionStart" name="auctionStart">
      <br><br>
      <label for="auctionEnd"><strong>Auction end time:</strong></label>
      <input type="datetime-local" id="auctionEnd" name="auctionEnd">
      <br><br><br>
      <input type="submit" id="createAuction" name="createAuction" value="Create"/>
    </form>
    </div>
  </div>
</body>
</html>