<html>
<head>
<title>Login Page</title>
<link rel='stylesheet' type='text/css' href='../style.css'>
</head>

<body>
	<br>
    <br>
    <br>
    <div id="page-info">
		<form action="/login" method="POST" id="login-form">
			<h1>Log in to {{ title }}</h1>
		    <p>Please confirm your identity by using the email and password you chose during the auction registration process. After you log in, you will be redirected to the bidding page.</p><br>

		    <input type="text" name="email"
		        placeholder="Email"><br>

		    <input type="password" name="password" 
		        placeholder="Password"><br><br>

	        <input type="submit" id="submitDetails"  
	            name="submitDetails" value="Log in"/><br>
		</form>
	</div>
</body>
</html>