<html>
<head>
    <title> Signup Form</title>
<!-- <link rel="stylesheet" type="text/css" href="../style.css">
 --></head>

<body>
    <br>
    <br>
    <br>
    <div class="container" >
        <div class="row">
        <div class="col-md-3">
                      
        </div>
                  
        <div class="col-md-6 main">
                      
            <form action="/" method="POST">
                      
            <h1> Signup form </h1>
                              
            <input class="box" type="text" name="email" id="email" 
            placeholder="email" required/><br>
                              
            <input class="box" type="password" name="password" 
            id="password" placeholder="password" required/><br>

            <br>
            <input type="submit" id="submitDetails"  
            name="submitDetails" value="Submit" /><br>
                      
            </form>
                      
        </div>
                    
        <div class="col-md-3">
        </div>
                  
    </div>
    </div>
</body>